<!-- ========== Header ========== -->
<header>
  <div class="header-section">
    <div class="logo">
      <h1>LOGO</h1>
    </div>
    <div class="search-layout">
      <div class="search-icon">
        <img src="assets/images/Component 32.png" alt="img" class="icon" />
      </div>
      <input type="text" placeholder="search here.." />
      <div class="filter-sect">
        <img src="assets/images/filter (2).png" alt="img" class="icon" />
        <span class="filter-t">Filters</span>
      </div>
    </div>
    <div class="seller-layout">
      <span>Become a Seller</span>
    </div>
  </div>
</header>
<!-- =========Header ========== -->

<!-- ========== Sidebar ========== -->
<nav>
  <div class="sidebar">
    <div class="sidebar-content">
      <ul class="lists">
        <li class="active">
          <a href="#" class="nav-link">
            <!-- <i class="bx bx-home-alt icon"></i> -->
            <img src="assets/images/home@2x.jpg" alt="img" class="icon" />
            <span class="link">Home</span>
            <div class="line"></div>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <!-- <i class="bx bx-bar-chart-alt-2 icon"></i> -->
            <img src="assets/images/notification.png" alt="img" class="icon" />
            <span class="link">Notifications</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <img src="assets/images/heart.png" alt="img" class="icon" />
            <span class="link">Shop</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <img src="assets/images/message.png" alt="img" class="icon" />
            <span class="link">Conversation</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <img src="assets/images/message-1.png" alt="img" class="icon" />
            <span class="link">Wallet</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <img src="assets/images/favorite.png" alt="img" class="icon" />
            <span class="link">Subscription</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <img src="assets/images/profile.png" alt="img" class="icon" />
            <span class="link">My Profile</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <img src="assets/images/setting.png" alt="img" class="icon" />
            <span class="link">Settings</span>
          </a>
        </li>
      </ul>
      <div class="bottom-cotent">
        <li class="list">
          <a href="#" class="nav-link">
            <img src="assets/images/logout.jpg" alt="img" class="icon" />
            <span class="link">Logout</span>
          </a>
        </li>
      </div>
    </div>
    <div class="developer">
      <p>2022©logo name</p>
      <p>Developed by ivan Infotech</p>
    </div>
  </div>
</nav>
<!-- =========Sidebar ========== -->

<article>
  <section>
    <div class="post-layout">
      <div class="post-header">
        <div class="poster-info">
          <img src="assets/images/pexels-ali-pazani-2613260.jpg" alt="img" />
          <div>
            <p class="poster-name">Lara Leones</p>
            <p class="username">&#64;thewallart</p>
          </div>
        </div>
        <div class="more">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="poster-body">
        <p class="description">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
          <span>Read more</span>
        </p>
        <img
          src="assets/images/pexels-humphrey-muleba-2045248.jpg"
          alt="post"
        />
        <img src="assets/images/heart.png" alt="heart" class="floating-heart" />
        <span class="border-line"></span>
      </div>

      <div class="poster-footer">
        <div class="container">
          <div class="likes flex">
            <img src="assets/images/heart-1.jpg" alt="img" />
            <p>9.2k</p>
          </div>
          <div class="shares flex">
            <!-- <i class="bx bx-heart icon"></i> -->
            <img src="assets/images/comment.jpg" alt="img" />
            <p>8.6k</p>
          </div>
          <div class="comments flex">
            <img src="assets/images/share-1.jpg" alt="img" />
            <p>7.2k</p>
          </div>
        </div>
      </div>
    </div>
    <div class="post-layout">
      <div class="post-header">
        <div class="poster-info">
          <img src="assets/images/pexels-imad-clicks-9810659.jpg" alt="img" />
          <div>
            <p class="poster-name">Thomas J.</p>
            <p class="username">&#64;thecustomcreater</p>
          </div>
        </div>
        <div class="more">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="poster-body">
        <p class="description">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
          <span>Read more</span>
        </p>
        <img src="assets/images/pexels-tobias-bjørkli-2236382.jpg" alt="post" />
        <img src="assets/images/heart.png" alt="heart" class="floating-heart" />
        <span class="border-line"></span>
      </div>

      <div class="poster-footer">
        <div class="container">
          <div class="likes flex">
            <img src="assets/images/heart-1.jpg" alt="img" />
            <p>9.2k</p>
          </div>
          <div class="shares flex">
            <!-- <i class="bx bx-heart icon"></i> -->
            <img src="assets/images/comment.jpg" alt="img" />
            <p>8.6k</p>
          </div>
          <div class="comments flex">
            <img src="assets/images/share-1.jpg" alt="img" />
            <p>7.2k</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="card-layout">
      <div class="card-image">
        <img src="assets/images/pexels-pixabay-164455.jpg" alt="card-image" />
        <p>Modern Wall Decor Framed Painting</p>
      </div>
      <div class="price-layout">
        <p>$199.99</p>
        <div class="stars">
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
        </div>
      </div>
    </div>
    <div class="card-layout">
      <div class="card-image">
        <img src="assets/images/Image 40.jpg" alt="card-image" />
        <p>Modern Wall Decor Framed Painting</p>
      </div>
      <div class="price-layout">
        <p>$199.99</p>
        <div class="stars">
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
        </div>
      </div>
    </div>
    <div class="card-layout">
      <div class="card-image">
        <img src="assets/images/Image 39.jpg" alt="card-image" />
        <p>Modern Wall Decor Framed Painting</p>
      </div>
      <div class="price-layout">
        <p>$199.99</p>
        <div class="stars">
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
        </div>
      </div>
    </div>
    <div class="card-layout">
      <div class="card-image">
        <img src="assets/images/Image 39.jpg" alt="card-image" />
        <p>Modern Wall Decor Framed Painting</p>
      </div>
      <div class="price-layout">
        <p>$199.99</p>
        <div class="stars">
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
          <img src="assets/images/star.png" alt="stars" />
        </div>
      </div>
    </div>
  </section>
</article>

<!-- ========== Artists and Photographers Details ========== -->
<aside>
  <div class="artist">
    <p>Artists</p>
    <p>Photographers</p>
  </div>
  <section>
    <div class="artists-layout">
      <div class="img-container">
        <div class="overlay"></div>
        <div class="photographer-layout">
          <div>
            <img
              src="assets/images/pexels-anastasia-shuraeva-4406721.jpg"
              alt="profile"
            />
            <span></span>
          </div>

          <div class="author-info">
            <p class="author">Thomas Edward</p>
            <p class="username">&#64;thewildwithyou</p>
          </div>
        </div>
      </div>
    </div>
    <div class="artists-layout">
      <div
        class="img-container"
        style="background: url('assets/images/pexels-genaro-servín-763210.jpg')"
      >
        <div class="overlay"></div>
        <div class="photographer-layout">
          <div>
            <img
              src="assets/images/pexels-andrea-piacquadio-3771118.jpg"
              alt="profile"
            />
            <span></span>
          </div>

          <div class="author-info">
            <p class="author">Chris Doe</p>
            <p class="username">&#64;thewildwithyou</p>
          </div>
        </div>
      </div>
    </div>
    <div class="artists-layout">
      <div
        class="img-container"
        style="background: url('assets/images/pexels-pixabay-164455.jpg')"
      >
        <div class="overlay"></div>
        <div class="photographer-layout">
          <div>
            <img
              src="assets/images/pexels-antoni-shkraba-4442005.jpg"
              alt="profile"
            />
            <span></span>
          </div>

          <div class="author-info">
            <p class="author">Emilie Jones</p>
            <p class="username">&#64;thewildwithyou</p>
          </div>
        </div>
      </div>
    </div>

    <div class="artists-layout">
      <div
        class="img-container"
        style="background: url('assets/images/pexels-fiona-art-5022849.jpg')"
      >
        <div class="overlay"></div>
        <div class="photographer-layout">
          <div>
            <img
              src="assets/images/pexels-anastasia-shuraeva-4406721.jpg"
              alt="profile"
            />
            <span></span>
          </div>

          <div class="author-info">
            <p class="author">Jessica Williams</p>
            <p class="username">&#64;thewildwithyou</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="policy-content">
    <div>
      <p>Privacy</p>
      <p>Terms of Services</p>
      <p>Cookie Notice</p>
    </div>
  </div>
</aside>
<!-- =========Artists and Photographers Details ========== -->
